.DS_Store
nodriza
node_modules
/dist
/report-feed
/raf
/outputDir


# local env files
.env.local
.env.*.local
fakeSession.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
