:root {
  --text-large: 2em;
  --text-medium: 1.2em;
  --text-gray: #5f5f5f;
  --bubble-paddin: 15px;
  --font-medium: 500;
  --font-bold: 700;

  --el-color-danger: #d21b5c;
  --el-color-warning: #fcbc2c;
  --el-color-primary: #4688f1;
}

.is-white-space-no-wrap {
  white-space: nowrap;
}