:root {
  --text-large: 2em;
  --text-medium: 1.2em;
  --text-gray: #5f5f5f;
  --bubble-paddin: 15px;
  --font-medium: 500;
  --font-bold: 700;
}

// #app {
//   transform: scale(0.75);
//   transform-origin: 0 0;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   width: calc(100% + 25%);
//   height: calc(100% + 25%);
// }